# Node.js
node_modules/
.env
dist/
build/
coverage/
*.log
npm-debug.log*

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional for Docker
docker-compose.override.yml

# Optional for testing
jest-coverage/
